<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">{{ 'footer.copyright'|trans|raw }}</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline social-buttons">
                    <li>
                        <a href="http://twitter.com/geraldlonlas"><i class="fa fa-twitter"></i></a>
                    </li>
                    <li>
                        <a href="http://facebook.com/Dreaminvasion"><i class="fa fa-facebook"></i></a>
                    </li>
                    <li>
                        <a href="https://www.linkedin.com/in/geraldlonlas"><i class="fa fa-linkedin"></i></a>
                    </li>
                </ul>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li>
                        <a href="{{ path('_index') }}" alt="{{ 'nav.privacy.alt'|trans({},'nav') }}">{{ 'nav.privacy.link'|trans({},'nav') }}</a>
                    </li>
                    <li>
                        <a href="{{ path('_index') }}" alt="{{ 'nav.terms.alt'|trans({},'nav') }}">{{ 'nav.terms.link'|trans({},'nav') }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>