{% block subject %} 
	{{ 'contact.subject' | trans({'%name%': name}, 'emails', locale) }}
{% endblock %}

{% block body_html %}
	<div class="header">
		<p>
			<strong>{{ 'contact.name' | trans({}, 'emails', locale) }}</strong> {{ name }} (<a href="mailto:{{ email }}">{{ email }}</a>) <br />
			<strong>{{ 'contact.phone' | trans({}, 'emails', locale) }}</strong> {{ phone }}<br />
			<strong>{{ 'contact.ip' | trans({}, 'emails', locale) }}</strong> {{ ip }}<br />
		</p>
	</div>
	<div class="message">
		{{ message|nl2br }}
	</div>
{% endblock %}

{% block body_text %}
	{{ 'contact.name' | trans({}, 'emails', locale) }} {{ name }} ({{ email }})
	{{ 'contact.phone' | trans({}, 'emails', locale) }} {{ phone }}
	{{ 'contact.ip' | trans({}, 'emails', locale) }} {{ ip }}

	{{ message|raw }}
{% endblock %}