<!DOCTYPE html>
<html>
    <head>
    <meta charset="UTF-8" />
    <style>
        /* YUI 3.5.0 reset.css (http://developer.yahoo.com/yui/3/cssreset/) - http://cssreset.com */
        html{color:#000;background:#FFF}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0}table{border-collapse:collapse;border-spacing:0}fieldset,img{border:0}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal}ol,ul{list-style:none}caption,th{text-align:left}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal}q:before,q:after{content:''}abbr,acronym{border:0;font-variant:normal}sup{vertical-align:text-top}sub{vertical-align:text-bottom}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit}input,textarea,select{*font-size:100%}legend{color:#000}#yui3-css-stamp.cssreset{display:none}

        /* hide elements */
        nav,
        header,
        footer {
            display: none;
        }

        /* Common */
        * {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
        }

        body {
            font-family: arial, verdana;
            color: #000;
            margin: 0;
            line-height: normal;
            font-size: 16px;
        }

        section {
            page-break-after: always;

            width: 276mm;
            height: 185mm;

            padding-left: 10mm;
            padding-top: 10mm;
            padding-right: 10mm;
            padding-bottom: 10mm;
            background: #FFF;
        }

        div {
            margin: 0;
        }

        .legend {
            color: #6c6c6c;
            font-size: 18pt;
        }

        .value {
            font-size: 20pt;
        }

        hr {
            border: 2px dashed #959595;
            margin-bottom: 5mm;
            margin-top: 5mm;
        }

        /* Summary */
        .summary {
            font-size: 50pt;
            width: 225mm;
            height: 150mm;
            margin: 0;
        }

        /* Points */
        .points {
            width: 45mm;
            height: 45mm;
            border: 2px solid #959595;
            float: right;
        }
        
        .points div {
            padding: 0;
            margin: 0;
            text-align: center;
        }

        .points .legend {
            margin-top: 8pt;
        }

        .points .value {
            font-size: 80pt;
        }

        /* key, type, project */
        .key,
        .type {
            margin-right: 5mm;
        }

        .inline {
            float: left;
            height: 20mm;
        }

        .key {
            width: 70mm;
        }

        .type {
            width: 78mm;
        }

        .project,
        .epic {
            width: 118mm;
        }
        .version {
            width: 158mm;
        }

        .wrap { 
           white-space: pre-wrap;      /* CSS3 */   
           white-space: -moz-pre-wrap; /* Firefox */    
           white-space: -pre-wrap;     /* Opera <7 */   
           white-space: -o-pre-wrap;   /* Opera 7 */    
           word-wrap: break-word;      /* IE */
        }
    </style>
    </head>
    <body>
    {% for story in stories %}
    <section id="{{ story.getKey() }}" class="printable">
        <div class="points">
            <div class="legend">{{ 'card.effort'|trans }}</div>
            <div class="value">{{ story.getEffort() }}</div>
        </div>

        <div class="summary wrap">{{ story.getSummary() }}</div>

        <hr />

        <div class="key inline">
            <div class="legend">{{ 'card.key'|trans }}</div>
            <div class="value">{{ story.getKey() }}</div>
        </div>

        <div class="type inline">
            <div class="legend">{{ 'card.type'|trans }}</div>
            <div class="value">{{ story.getType() }}</div>
        </div>

        <div class="project inline">
            <div class="legend">{{ 'card.project'|trans }}</div>
            <div class="value">{{ story.getProject() }}</div>
        </div>

        <div class="version inline">
            <div class="legend">{{ 'card.version'|trans }}</div>
            <div class="value">{{ story.getVersion() }}</div>
        </div>

        <div class="epic inline">
            <div class="legend">{{ 'card.epic'|trans }}</div>
            <div class="value">{{ story.getEpic() }}</div>
        </div>
    </section>
    {% endfor %}
    </body>
</html>