<!-- Footer -->
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="copyright">{{ 'footer.copyright'|trans|raw }}</span>
            </div>
            <div class="col-md-4">
                <ul class="list-inline quicklinks lead">
                    <li>
                        <a href="{{ path('_index', { 'locale': 'fr' }) }}" alt="Passez en Français">
                            <span class="flag-icon flag-icon-fr"></span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('_index', { 'locale': 'en' }) }}" alt="Switch to English">
                            <span class="flag-icon flag-icon-us"></span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('_index', { 'locale': 'zh' }) }}" alt="Schakelen naar Nederlands">
                            <span class="flag-icon flag-icon-zh"></span>
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('_index', { 'locale': 'nl' }) }}" alt="Schakelen naar Nederlands">
                            <span class="flag-icon flag-icon-nl"></span>
                        </a>
                    </li>
                    <!--
                    <li>
                        <a href="{{ path('_index', { 'locale': 'de' }) }}" alt="Switch to German">
                            <span class="flag-icon flag-icon-de"></span>
                        </a>
                    </li>
                    -->
                    <!--
                    <li>
                        <a href="{{ path('_index', { 'locale': 'es' }) }}" alt="Switch to Spanish">
                            <span class="flag-icon flag-icon-es"></span>
                        </a>
                    </li>
                    -->
                    <!--
                    <li>
                        <a href="{{ path('_index', { 'locale': 'it' }) }}" alt="Switch to Italian">
                            <span class="flag-icon flag-icon-it"></span>
                        </a>
                    </li>
                    -->
                </ul>
                <a  href="https://www.transifex.com/projects/p/agilestoryprint/"
                    target="_blank"
                    alt="{{ 'nav.translations.alt'|trans({},'nav') }}">
                    {{ 'nav.translations.link'|trans({},'nav') }}
                </a>
            </div>

            <div class="col-md-4">
                <ul class="list-inline quicklinks">
                    <li>
                        <a href="{{ path('_cookie') }}" alt="{{ 'nav.privacy.alt'|trans({},'nav') }}">
                            {{ 'nav.privacy.link'|trans({},'nav') }}
                        </a>
                    </li>
                    <li>
                        <a href="{{ path('_terms') }}" alt="{{ 'nav.terms.alt'|trans({},'nav') }}">{{ 'nav.terms.link'|trans({},'nav') }}</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>