<!-- Author Section -->
<section id="author" class="odd">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ 'author.title'|trans }}</h2>
                <h3 class="section-subheading text-muted">{{ 'author.subtitle'|trans|raw }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-4">
                <div class="team-member">
                    <img src="{{ asset('bundles/agilestoryprintjira/images/team/gerald-lonlas-product-owner.jpg') }}" class="img-responsive img-circle" alt="{{ 'author.name'|trans }} - {{ 'author.position'|trans }}">
                    <h4>{{ 'author.name'|trans }}</h4>
                    <p class="text-muted">{{ 'author.position'|trans }}</p>
                    <ul class="list-inline social-buttons">
                        <li>
                            <a href="http://twitter.com/geraldlonlas" target="_blank"><i class="fa fa-twitter"></i></a>
                        </li>
                        <li>
                            <a href="http://facebook.com/Dreaminvasion" target="_blank"><i class="fa fa-facebook"></i></a>
                        </li>
                        <li>
                            <a href="https://www.linkedin.com/in/geraldlonlas" target="_blank"><i class="fa fa-linkedin"></i></a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="team-member">
                        <img src="{{ asset('bundles/agilestoryprintjira/images/team/github-contributor.jpg') }}" class="img-responsive img-circle" alt="{{ 'team_member.name'|trans }} - {{ 'team_member.position'|trans }}">
                        <h4>{{ 'team_member.name'|trans }}</h4>
                        <p class="text-muted">{{ 'team_member.position'|trans }}</p>
                        <ul class="list-inline social-buttons">
                            <li>
                                <a href="https://github.com/glonlas/AgileStoryPrint"><i class="fa fa-github"></i></a>
                            </li>
                        </ul>
                    </div>
            </div>
            <div class="col-sm-2"></div>
        </div>
    </div>
</section>