<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ 'contact.title'|trans|raw }}</h2>
                <h3 class="section-subheading text-muted">{{ 'contact.subtitle'|trans|raw }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                {{ form_start(contactForm, {'attr': {'id':'contactForm', 'novalidate':true}, 'action':path('_contact')}) }}
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_widget(contactForm.name, {'attr': {'class': 'form-control', 'placeholder':'contact.name.placeholder'|trans, 'required':true}}) }}
                                <p class="help-block text-danger">{{ form_errors(contactForm.name) }}</p>
                            </div>
                            <div class="form-group">
                                {{ form_widget(contactForm.email, {'attr': {'class': 'form-control', 'placeholder':'contact.email.placeholder'|trans, 'required':true}}) }}
                                <p class="help-block text-danger">{{ form_errors(contactForm.email) }}</p>
                            </div>
                            <div class="form-group">
                                {{ form_widget(contactForm.phone, {'attr': {'class': 'form-control', 'placeholder':'contact.phone.placeholder'|trans}}) }}
                                <p class="help-block text-danger">{{ form_errors(contactForm.phone) }}</p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                {{ form_widget(contactForm.message, {'attr': {'class': 'form-control', 'placeholder':'contact.message.placeholder'|trans, 'required':true}}) }}
                                <p class="help-block text-danger">{{ form_errors(contactForm.message) }}</p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">{{ 'contact.btn.submit'|trans|raw }}</button>
                        </div>
                    </div>
                {{ form_end(contactForm) }}
            </div>
        </div>
    </div>
</section>