<!-- FAQ -->
<section id="faq" class="odd">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ 'faq.title'|trans|raw }}</h2>
                <h3 class="section-subheading text-muted">{{ 'faq.subtitle'|trans|raw }}</h3>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h3>{{ 'faq.question1.title'|trans({}, 'faq')|raw }}</h3>
                <div>{{ 'faq.question1.text'|trans({}, 'faq')|raw }}</div>
            </div>
            <div class="col-sm-6">
                <h3>{{ 'faq.question2.title'|trans({}, 'faq')|raw }}</h3>
                <div>{{ 'faq.question2.text'|trans({}, 'faq')|raw }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h3>{{ 'faq.question3.title'|trans({}, 'faq')|raw }}</h3>
                <div>{{ 'faq.question3.text'|trans({}, 'faq')|raw }}</div>
            </div>
            <div class="col-sm-6">
                <h3>{{ 'faq.question4.title'|trans({}, 'faq')|raw }}</h3>
                <div>{{ 'faq.question4.text'|trans({}, 'faq')|raw }}</div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6">
                <h3>{{ 'faq.question5.title'|trans({}, 'faq')|raw }}</h3>
                <div>{{ 'faq.question5.text'|trans({}, 'faq')|raw }}</div>
            </div>
            <div class="col-sm-6">
                <h3>{{ 'faq.question6.title'|trans({}, 'faq')|raw }}</h3>
                <div>{{ 'faq.question6.text'|trans({}, 'faq')|raw }}</div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <h3>{{ 'faq.question7.title'|trans({}, 'faq')|raw }}</h3>
                <div>{{ 'faq.question7.text'|trans({}, 'faq')|raw }}</div>
            </div>
            <div class="col-sm-6">
            </div>
        </div>
    </div>
</section>