<!-- Services Section -->
<section id="services" class="odd">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ 'services.title'|trans|raw }}</h2>
                <h3 class="section-subheading text-muted">{{ 'services.subtitle'|trans|raw }}</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-file-text-o fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">{{ 'services.option1.title'|trans|raw }}</h4>
                <p class="text-muted">{{ 'services.option1.text'|trans|raw }}</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-cloud-upload fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">{{ 'services.option2.title'|trans|raw }}</h4>
                <p class="text-muted">{{ 'services.option2.text'|trans|raw }}</p>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-print fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">{{ 'services.option3.title'|trans|raw }}</h4>
                <p class="text-muted">{{ 'services.option3.text'|trans|raw }}</p>
            </div>
        </div>
    </div>
</section>