<!-- Contact Section -->
<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">{{ 'contact.title'|trans|raw }}</h2>
                <h3 class="section-subheading text-muted">{{ 'contact.subtitle'|trans|raw }}</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <form name="sentMessage" id="contactForm" novalidate>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="{{ 'contact.name.placeholder'|trans|raw }}" id="name" required data-validation-required-message="{{ 'contact.name.message'|trans|raw }}">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="{{ 'contact.email.placeholder'|trans|raw }}" id="email" required data-validation-required-message="{{ 'contact.email.message'|trans|raw }}">
                                <p class="help-block text-danger"></p>
                            </div>
                            <div class="form-group">
                                <input type="tel" class="form-control" placeholder="{{ 'contact.phone.placeholder'|trans|raw }}" id="phone" required data-validation-required-message="{{ 'contact.phone.message'|trans|raw }}">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <textarea class="form-control" placeholder="{{ 'contact.message.placeholder'|trans|raw }}" id="message" required data-validation-required-message="{{ 'contact.message.message'|trans|raw }}"></textarea>
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <div class="clearfix"></div>
                        <div class="col-lg-12 text-center">
                            <div id="success"></div>
                            <button type="submit" class="btn btn-xl">{{ 'contact.btn.submit'|trans|raw }}</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>